<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra!</title>
    <link rel="stylesheet" href="/stylesheets/application.css" type='text/css' media="screen, projection" />
    <script type="text/javascript" src="/javascripts/application.js">
    </script>
  </head>
  <body>
    <h1><%= @text %></h1>
  </body>
</html>

